/* ESTILO GLOBAL DO APP */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],input[type="password"] {
  padding: 8px;
  /* border-radius: 2px; */
  border: solid 1px whitesmoke;
  box-shadow: 1px 1px 2px gray;
  min-width: 200px;
}

button {
  color: white;
  font-weight: 300;
  font-size: 16px;
  background-color: #5596ff;
  padding: 5px;
  border: none;
  box-shadow: 1px 1px 1px #616161;
  cursor: pointer;
  border-radius: 2px;
}

a {
  color:gray;
}

