body {
    background-color: whitesmoke;
}

#container_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: tomato;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 14px;
    margin: 15% auto;
    max-width: 415px;
}

#container_login input {
    min-width: 300px;
    display: flex;
    padding: 10px;
    margin: 5px;
}

#container_login button {
    min-width: 300px;
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    background-color: #585858;
    color: white;
    border: none;
    font-weight: bold;
}

#container_login div:first-child {
    font-size: 18px;
    padding-bottom: 10px;
}